
.header{
  position:relative;
  display: block;
  margin: 40px auto 0 auto;
  width: 90%;
  text-align: center;
}

.nav_list{
  position:relative;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25em;
  display:block;
  clear:both;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

.work {
  position:relative;
  display: inline-block;
  margin: 0 auto;
  float: left;
}

.about {
  position:relative;
  display: inline-block;
  margin: 0 auto;
  float: left;
}

.nav_list li {
  display: inline-block;
  vertical-align: middle;
}

.nav_list ul {
   margin:0 auto;
   padding:0;
   list-style:none;
}

.logo {
  position:relative;
  display: inline-block;
  float: left;
}

.logo img {
  width: 80%;
  height: 80%;
}

body {
  color: #414141;
}

a {
  color: #414141;
  text-decoration: none;
}

li a:hover {
    color:#30b4c6;
    text-decoration: none;
}

h1 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 200;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

h2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 200;
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  padding-bottom: 20px;
}

h3 {
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
  text-align: center;
  padding-bottom: 20px;
  line-height: 40px;
  color: #959595;
  font-size: 1.35em;
}

h3 a {
  color:#30b4c6;
  }

p {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 1em;
  text-align: center;
  line-height: 30px;
}

p a {
  color:#30b4c6;

}

.description {
  margin: 7% 1em;
  display: block;
  text-align: center;
}

.intro {
  width:90%;
  margin: 7% auto 0 auto ;
  display: block;
  text-align: center;
}

#video {
  position: relative;
  margin: 0 auto;
  display: block;
  text-align: center;
}

#video video {
  width: 320px;
  height: 213px;

}

.example_image {
  padding: 5% 0 0 0;
  margin: 0 auto 2% auto;
  position: relative;
  display: block;
  text-align: center;
}

.example_image img {
  width: 80%;
  height: 80%;
}

#sidebyside {
  padding: 0 0 30px 0;
}

.container {
  width:90%;
  position: relative;
  margin: 0 auto;
  display: block;
  text-align: center;
  padding: 50px 0 0 0;
}

.container li {
  display: inline;
  margin: 0 auto;
  position:relative;
  text-decoration: none;
}

.border {
  border: 1px #dadada solid;

}


.logobox {
  display: block;
  margin: 0 auto 2% auto;
  padding: 6% 0 6% 0;
  width: 90%;
  background-color: #f5f5f5;

}

.logobox img {
  height:130px;
  width: 200px;
}

.icons {
  width:98%;
  position: relative;
  padding: 50px 0 0 0;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
}

.icons li {
  list-style:none;
  display: inline;
}

a:hover {
  opacity: .8;
}

.image-wrraper {
    width: 276px;
    height: 276px;
    position: relative;
    display: inline-block;
    margin: 20px 20px 0 0;
}

.image-title {
    box-sizing: border-box;
    bottom: 0;
    display: inline-block;
    font-family:"Yanone Kaffeesatz", serif;
    font-weight:200;
    left: 0;
    opacity:0;
    padding:135px 0 0 0 ;
    position: absolute;
    right: 0;
    top: 0;
    text-align:center;
    color: #414141;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.25em;
}


.image-title a:hover{
  color: #414141;
}

.image-wrraper:hover .image-title {
    background: #fff;
    opacity: .9;
    transition: all .1s ease-out;
    display:block;
}

.container img {
    height: auto;
    max-width: 100%;
}


@media (min-width: 1000px) {
  .description {
    width: 38%;
  }
}

@media (min-width: 600px) {
.logo {
  position:relative;
  margin: 0 100px 0 100px;
  display: inline-block;
  float:none;
  }
  .about, .work {
    position:relative;
    display: inline-block;
    margin: 0 auto;
    float: none;
  }
}

@media (min-width: 700px) {

  .intro {
    width:52%;
    margin: 7% auto 0 auto ;
    display: block;
    text-align: center;
    }
  #video video{
    height:480px;
    width: 720px;
    }
  #sidebyside {
      padding: 0 30px 0 0;
    }
  .example_image img {
      margin-left: auto;
      margin-right: auto;
      width: auto;
      height: auto;
    }
  .logobox img {
      margin-left: auto;
      margin-right: auto;
      width: 320px;
      height: 220px;
    }
  .logobox {
      margin-left: auto;
      margin-right: auto;
      width: 60%;
    }
  .description {
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
    .logo img {
      height: auto;
      width: auto;
        }
    }
